# {{ ansible_managed  }}
AlgorithmicDetection yes
ArchiveBlockEncrypted no
Bytecode yes
BytecodeSecurity TrustSigned
BytecodeTimeout 1000
CommandReadTimeout 5
CrossFilesystems no
DatabaseDirectory /var/lib/clamav
Debug no
DetectBrokenExecutables yes
DetectPUA yes
ExcludePath ^/proc/
ExcludePath ^/sys/
ExitOnOOM yes
ExtendedDetectionInfo yes
FixStaleSocket yes
FollowDirectorySymlinks no
FollowFileSymlinks no
Foreground no
IdleTimeout 60
LeaveTemporaryFiles no
LocalSocket /var/run/clamd.scan/clamd.sock
LocalSocketGroup clamscan
LocalSocketMode 660
LogFile /var/log/clamd/clamav.log
LogFileMaxSize 0
LogTime yes
LogSyslog yes
LogFacility LOG_LOCAL6
LogVerbose no
MaxConnectionQueueLength 30
MaxDirectoryRecursion 15
MaxFiles 45000
MaxFileSize 50M
MaxQueue 200
MaxRecursion 15
MaxScanSize 150M
MaxThreads 50
OfficialDatabaseOnly no
OLE2BlockMacros no
PhishingSignatures yes
PhishingScanURLs yes
PidFile /var/run/clamd.scan/clamd.pid
ReadTimeout 300
ScanArchive yes
ScanHTML yes
ScanELF yes
ScanMail yes
ScanOLE2 yes
ScanPDF yes
ScanPE yes
SelfCheck 600
SendBufTimeout 300
StructuredDataDetection yes
StructuredMinCreditCardCount 5
StructuredMinSSNCount 5
StructuredSSNFormatNormal yes
StructuredSSNFormatStripped yes
TemporaryDirectory /var/tmp
TCPSocket 3310
TCPAddr 127.0.0.1
User clamscan
